:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.5em;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}
